.page {
    background-color: #000;
    font-family: 'Inter', Arial, sans-serif;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

.header {
    width: 880px;
    margin: 0 auto;
    padding: 45px 0 41px;
    border-bottom: 1px solid rgba(54, 54, 54, .7);
}

.header__logo {
    width: 142px;
}

.profile {
    width: 880px;
    margin: 41px auto 0;
    display: flex;
    justify-content: space-between;
}

.profile__container {
    display: flex;
    justify-content: space-between;
}

.profile__avatar {
    width: 120px;
    height: 120px;
    margin: 0 30px 0 0;
    border-radius: 50%;
}

.profile__info {
    max-width: 336px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.profile__name {
    width: 294px;
    height: 39px;
    margin: 0 18px 16px 0;
    font-size: 42px;
    font-weight: 500;
    line-height: 48px;
}

.profile__about {
    max-width: 336px;
    height: 18px;
    font-size: 18px;
    margin: 0;
}

.profile__edit-button {
    width: 24px;
    height: 24px;
    outline: none;
    border: 1px solid #fff;
    align-self: center;
    background-position: center;
    background-color: transparent;
    background-image: url(./images/profiel/EditButton.svg);
    transition: .2s linear;
}

.profile__edit-button:hover {
    opacity: .6;
    cursor: pointer;
}

.profile__add-button {
    width: 150px;
    height: 50px;
    border: 2px solid #fff;
    align-self: center;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url(./images/profiel/AddButton.svg);
    transition: .2s linear
}

.profile__add-button:hover {
    opacity: .6;
    cursor: pointer;
}

.elements {
    width: 880px;
    margin: 51px auto 66px;
}

.elements__list {
    display: grid;
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    gap: 20px 17px;
    justify-content: end;
    margin: 0 auto;
    list-style: none;
    color: #000;
}

.element {
    width: 282px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    background: #fff;
}

.element__figure {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.element__image {
    width: 100%;
    height: 282px;
    object-fit: cover;
    transition: all .5s linear;
}

.element__image:hover {
    opacity: .9;
    cursor: pointer;
    transform: scale(1.02);
}

.element__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px 31px 21px;
}

.element__like-button {
    width: 22px;
    height: 19px;
    border: none;
    background-color: transparent;
    background-image: url(./images/elements/disabled.svg);
    transition: all .2s linear
}

.element__like-button:hover {
    opacity: .6;
    cursor: pointer;
}

.element__like-button:active {
    opacity: 1;
    background-image: url(./images/elements/active.svg);
}

.element__caption {
    margin: 0;
    font-size: 24px;
    font-weight: 900;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.footer {
    width: 880px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.footer__author {
    margin: 0;
    color: #545454;
    font-size: 18px;
}

.popup {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.popup__container {
    width: 430px;
    padding: 34px 36px 37px;
    box-sizing: border-box;
    position: relative;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
    z-index: 2;
}

.popup__title {
    margin: 0 0 54px;
    font-size: 24px;
    font-weight: 900;
    color: #000;
}

.popup__fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.popup__submit-button {
    width: 100%;
    height: 50px;
    font-size: 18px;
    padding: 0;
    margin-top: 48px;
    border-radius: 2px;
    border: none;
    background-color: #000;
    color: #FFF;
    transition: all 0.2s linear;
}

.popup__submit-button:hover {
    opacity: .6;
    cursor: pointer;
}

.popup__input {
    width: 100%;
    margin: 0 0 30px;
    padding: 0 0 13px;
    font-size: 14px;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__input:nth-last-child(2n) {
    margin: 0;
}


.popup__cancel-button {
    position: absolute;
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
    border: none;
    background-color: transparent;
    background-image: url(./images/elements/CloseIcon.svg);
    transition: all 0.2s linear;
}

.popup__cancel-button:hover {
    opacity: .6;
    cursor: pointer;
}